@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h4>IsChecked: @isCheckboxChecked</h4>

<hr />
<h6>Have a Problem</h6>
<GxChecbox IsChecked="false" StateChanged="onSelectedChange"/>

<hr /> 
<h6>No Problem</h6>
<GxChecbox StateChanged="onSelectedChange"/>




@code{
    private bool isCheckboxChecked { get; set; }

    void onSelectedChange(bool isChecked)
    {
        isCheckboxChecked = isChecked;
    }

    void MakeFalse()
    {
        isCheckboxChecked = false;
    }
}
